# Configuration file

~CONFIG_VERSION: 1.12.2-3.0.6.19

##########################################################################################################
# loot_weights
#--------------------------------------------------------------------------------------------------------#
# Weight in the loot table, higher the number lower the chance of dropping. Zero and lower will disable the entry.
##########################################################################################################

loot_weights {
    #  [range: -1 ~ 32767, default: 10]
    I:dustA2219=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustAluminium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustAluminum=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustAmaranth=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustBeryllium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustBoron=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustBrass=10

    #  [range: -1 ~ 32767, default: -1]
    I:dustBronze=-1

    #  [range: -1 ~ 32767, default: 10]
    I:dustCobalt=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustConstantan=10

    #  [range: -1 ~ 32767, default: 5]
    I:dustCopper=5

    #  [range: -1 ~ 32767, default: 10]
    I:dustDraconium=10

    #  [range: -1 ~ 32767, default: -1]
    I:dustElectrum=-1

    #  [range: -1 ~ 32767, default: 10]
    I:dustEvenium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustFueltonium=10

    #  [range: -1 ~ 32767, default: 15]
    I:dustGold=15

    #  [range: -1 ~ 32767, default: 10]
    I:dustGraphite=10

    #  [range: -1 ~ 32767, default: -1]
    I:dustInvar=-1

    #  [range: -1 ~ 32767, default: 10]
    I:dustIridium=10

    #  [range: -1 ~ 32767, default: 5]
    I:dustIron=5

    #  [range: -1 ~ 32767, default: 8]
    I:dustLead=8

    #  [range: -1 ~ 32767, default: 10]
    I:dustLithium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustMagnesium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustManganese=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustManganeseDioxide=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustManganeseOxide=10

    #  [range: -1 ~ 32767, default: -1]
    I:dustMithril=-1

    #  [range: -1 ~ 32767, default: 8]
    I:dustNickel=8

    #  [range: -1 ~ 32767, default: 10]
    I:dustObsidian=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustOsmium=10

    #  [range: -1 ~ 32767, default: 18]
    I:dustPlatinum=18

    #  [range: -1 ~ 32767, default: 10]
    I:dustPlutonium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustRhodium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustShinestone=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustShinium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustSilver=10

    #  [range: -1 ~ 32767, default: -1]
    I:dustSteel=-1

    #  [range: -1 ~ 32767, default: 10]
    I:dustSuperConductive=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustThorium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustThoriumOxide=10

    #  [range: -1 ~ 32767, default: 5]
    I:dustTin=5

    #  [range: -1 ~ 32767, default: 10]
    I:dustTitanium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustTungsten=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustUranium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustUraniumOxide=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustVanadium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustVibranium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustVirinium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustZinc=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustZirconium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustZollernium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustZucrite=10

    #  [range: -1 ~ 32767, default: 10]
    I:impureDustCopper=10

    #  [range: -1 ~ 32767, default: 10]
    I:impureDustGold=10

    #  [range: -1 ~ 32767, default: 10]
    I:impureDustIron=10

    #  [range: -1 ~ 32767, default: 10]
    I:impureDustLead=10

    #  [range: -1 ~ 32767, default: 10]
    I:impureDustSilver=10

    #  [range: -1 ~ 32767, default: 10]
    I:impureDustTin=10

    #  [range: -1 ~ 32767, default: 10]
    I:impureDustVanadium=10
}


